<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>JavaScript Final</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <!--Font awesome CDN Link-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <!--google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&family=Sansita+Swashed&display=swap" rel="stylesheet">

    <script src="script.js" defer></script>
  </head>
  <body>
    <section class="hero" id="hero">
      <video id="hero-video" autoplay muted loop>
        <source src="/img/hero.mp4" type="video/mp4" />
      </video>
      <div class="title">
        <h2 class="hero_header">
          "Bringing the outdoors in, one plant at a time."
        </h2>
        <p class="tagline"></p>
      </div>
    </section>
    <!-- Main Container -->
    <div class="wrapper"> 
      <!-- Side-Cart -->
      <div id="cart" class="sidecart">
        <div class="cart-header">
          <i class="fas fa-times" id="remove"></i>
          <h2>Cart</h2>
          <span></span>
        </div>
        <% if (cart && cart.length > 0) { %>
          <% cart.forEach(item => { %>
            <div class="products">
              <img src="<%= item.plant.image %>" alt="<%= item.plant.name %>" />
              <div class="details">
                <h2><%= item.plant.name %></h2>
                <h4>Price: $<%= item.plant.price %></h4>
                <div class="quantity-and-button">
                  <button class="btn btn-link px-2" data-id="<%= item.plant._id %>" onclick="stepDown(this)">
                  <i class="fas fa-minus"></i>
                  </button>
                  <h4>Qty:</h4>
                  <input type="number" value="<%= item.quantity %>" min="1" name="quantity" readonly>
                  <button class="btn btn-link px-2" data-id="<%= item.plant._id %>" onclick="stepUp(this)">
                  <i class="fas fa-plus"></i>
                  </button>
                  <button onclick="removeFromCart('<%= item.plant._id %>')">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                  </svg>
                  </button>
                </div>
                <h4>Total: $<%= item.plant.price * item.quantity%></h4>
              </div>
            </div>
          <% }) %>
          <% let subtotal = cart.reduce((total, item) => total + (item.plant.price * item.quantity), 0).toFixed(2); %>
          <div class="subtotal">
            <h2>Cart Subtotal: $<%= subtotal %></h2>
          </div>
          <button id="checkout">Checkout</button>
        <% } else { %>
          <h2>Your cart is empty</h2>
        <% } %>
    </div>
      <!-- Navigation -->
      <header>
        <nav>
          <div class="logo">
            <a href="#" style="text-align: none;"><h2>Plants A Plenty</h2></a>
          </div>
          <ul>
            <li><a href="#hero">HOME</a></li>
            <li><a href="#about">MAINTENANCE</a></li>
            <li><a href="#contact">CONTACT</a></li>
            
            <% if(!isAuthenticated) { %>
            <li><a href="/login/" id="logsign">LOGIN/SIGNUP</a></li>
            <% } else { %>
            <li><a href="/logout/" id="logsign">LOGOUT</a></li>
            <% } %>
            <li id="cartbtn"><button id="cartbtn"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
              <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg></button></li>
          </ul>
        </nav>
      </header>
      <!-- Hero Section -->
      
      <!-- About Section -->
      <section class="about" id="about">
        <video id="maintenance-video" autoplay muted loop>
          <source src="/public/img/mainAbout.mp4" type="video/mp4" />
        </video>
        <div class="maintenance-info">
          <h3 style="text-align: center;">Plant Care</h3>
          <p style="line-height: 35px; font-size: 20px;">Water your plant regularly, but avoid overwatering. Make sure the soil is moist but not waterlogged.<br>
            Ensure that your plant is receiving the right amount of sunlight. Some plants need direct sunlight, while others prefer indirect light.<br>
            Check your plant for pests and diseases regularly. If you notice any issues, take action immediately to prevent the problem from spreading.<br>
            Prune your plant regularly to keep it healthy and promote new growth. Remove any dead or damaged leaves or stems.<br>
            Fertilize your plant every few months to provide it with the nutrients it needs to thrive.<br>
            Choose the right type of potting soil for your plant, and repot it when necessary.<br>
            Keep your plant away from drafts, as this can cause stress and damage.<br>
            Monitor the humidity levels in your home, and consider using a humidifier if your plant requires high humidity.<br>
            Rotate your plant periodically to ensure even growth and exposure to light.
            </p>
        </div>
      </section>
      <!-- Product slider Container--------------------------------------------- -->
      <div class="container" id="triangle-div">
        <h3 class="title">Shop Potted Classics</h3>

        <div class="products-container">
          <div class="product" data-name="p-1">
            <img src="img/product1.jpg" alt="pothos" />
            <h3 class="card-name">Pothos</h3>
            <div class="price">$35.00</div>
          </div>

          <div class="product" data-name="p-2">
            <img src="img/product2.jpg" alt="birds of paradise" />
            <h3 class="card-name">Birds of Paradise</h3>
            <div class="price">$125.00</div>
          </div>

          <div class="product" data-name="p-3">
            <img src="img/product3.jpg" alt="snake plant" />
            <h3 class="card-name">Snake Plant</h3>
            <div class="price">$25.00</div>
          </div>

          <div class="product" data-name="p-4">
            <img src="img/product4.jpg" alt="fiddle fig" />
            <h3 class="card-name">Fiddle Fig</h3>
            <div class="price">$72.00</div>
          </div>

          <div class="product" data-name="p-5">
            <img src="img/product5.jpg" alt="string of pearls" />
            <h3 class="card-name">String of Pearls</h3>
            <div class="price">$25.00</div>
          </div>

          <div class="product" data-name="p-6">
            <img src="img/product6.jpg" alt="fiddle fig" />
            <h3 class="card-name">Ponytail Palm</h3>
            <div class="price">$65.00</div>
          </div>

          <div class="product" data-name="p-7">
            <img src="img/product7.jpg" alt="fiddle fig" />
            <h3 class="card-name">Aloe Vera</h3>
            <div class="price">$10.00</div>
          </div>

          <div class="product" data-name="p-8">
            <img src="img/product8.jpg" alt="fiddle fig" />
            <h3 class="card-name">ZZ Plant</h3>
            <div class="price">$45.00</div>
          </div>

          <div class="product" data-name="p-9">
            <img src="img/product9.jpg" alt="fiddle fig" />
            <h3 class="card-name">Cactus</h3>
            <div class="price">$30.00</div>
          </div>
        </div>
      </div>
      <!-- product container ends -->

      <div class="products-preview">
        <div class="preview" data-target="p-1">
          <i class="fas fa-times"></i>
          <img src="img/product1.jpg" alt="" />
          <h3>Pothos</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>( 250 )</span>
          </div>
          <p>
            The Pothos, also known as Devil's Ivy, is a popular and easy-to-grow houseplant that adds a touch of greenery to any space. Its heart-shaped leaves come in various shades of green, and some varieties feature marbled white or yellow patterns. Pothos plants are known for their fast-growing, trailing vines, making them perfect for hanging baskets, shelves, or as an eye-catching centerpiece.
          </p>
          <div class="price">$35.00</div>
          <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart" data-id="6434a01dc2eecc970b411da2">add to cart</a>
          </div>
        </div>

        <div class="preview" data-target="p-2">
          <i class="fas fa-times"></i>
          <img src="img/product2.jpg" alt="" />
          <h3>Birds of Paradise</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>( 250 )</span>
          </div>
          <p>
            The Birds of Paradise, also known as Strelitzia reginae, is a stunning and exotic houseplant known for its striking, crane-like flowers and large, paddle-shaped leaves. With its vibrant orange and blue blooms resembling the plumage of a tropical bird, this plant brings a touch of the tropics to any indoor space.
          </p>
          <div class="price">$125.00</div>
          <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart" data-id="6434819a8e54ab61de024a9f">add to cart</a>
          </div>
        </div>

        <div class="preview" data-target="p-3">
          <i class="fas fa-times"></i>
          <img src="img/product3.jpg" alt="" />
          <h3>Snake Plant</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>( 250 )</span>
          </div>
          <p>
            Snake Plant, also known as Sansevieria or Mother-in-Law's Tongue, is a popular and low-maintenance houseplant that boasts striking, sword-like leaves with beautiful patterns. Its architectural shape and vibrant green foliage add a touch of modern elegance to any space, making it a favorite among interior designers and plant enthusiasts alike.
          </p>
          <div class="price">$25.00</div>
          <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart" data-id="643486df8e54ab61de024aa1">add to cart</a>
          </div>
        </div>

        <div class="preview" data-target="p-4">
          <i class="fas fa-times"></i>
          <img src="img/product4.jpg" alt="" />
          <h3>Fiddle Fig</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>( 250 )</span>
          </div>
          <p>
            The Fiddle Fig, also known as Fiddle Leaf Fig or Ficus Lyrata, is a stunning and highly sought-after houseplant, loved for its large, violin-shaped leaves that add a touch of lush greenery to any space. With its impressive size and bold foliage, the Fiddle Fig has become a statement piece in modern interiors, making it a must-have for plant enthusiasts and design-conscious individuals alike.
          </p>
          <div class="price">$72.00</div>
          <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart" data-id="643487c78e54ab61de024aa3">add to cart</a>
          </div>
        </div>

        <div class="preview" data-target="p-5">
          <i class="fas fa-times"></i>
          <img src="img/product5.jpg" alt="" />
          <h3>String of Pearls</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>( 250 )</span>
          </div>
          <p>
            The String of Pearls, also known as Senecio rowleyanus, is a delightful and unique succulent that adds a touch of whimsy and elegance to any indoor space. This eye-catching plant is characterized by its slender, trailing stems adorned with small, round leaves resembling a string of charming green pearls.
          </p>
          <div class="price">$25.00</div>
          <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart" data-id="64348ef367f75fe1b60177c2">add to cart</a>
          </div>
        </div>

        <div class="preview" data-target="p-6">
          <i class="fas fa-times"></i>
          <img src="img/product6.jpg" alt="" />
          <h3>Ponytail Palm</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>( 250 )</span>
          </div>
          <p>
            The Ponytail Palm, scientifically known as Beaucarnea recurvata, is an eye-catching and low-maintenance plant that brings an exotic touch to any indoor space. With its distinctive swollen base, slender trunk, and long, cascading leaves resembling a ponytail, this plant is both intriguing and stylish.
          </p>
          <div class="price">$65.00</div>
          <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart" data-id="6434919067f75fe1b60177c5">add to cart</a>
          </div>
        </div>

        <div class="preview" data-target="p-7">
          <i class="fas fa-times"></i>
          <img src="img/product7.jpg" alt="" />
          <h3>Aloe Vera</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>( 250 )</span>
          </div>
          <p>
            Aloe Vera, known scientifically as Aloe barbadensis miller, is a perennial succulent plant valued not only for its attractive appearance but also for its numerous health benefits. With a rich history spanning thousands of years, Aloe Vera has long been revered for its soothing, healing, and medicinal properties.
          </p>
          <div class="price">$10.00</div>
          <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart" data-id="643491f967f75fe1b60177c8">add to cart</a>
          </div>
        </div>

        <div class="preview" data-target="p-8">
          <i class="fas fa-times"></i>
          <img src="img/product8.jpg" alt="" />
          <h3>ZZ Plant</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>( 250 )</span>
          </div>
          <p>
            The ZZ Plant, scientifically known as Zamioculcas zamiifolia, is a popular houseplant renowned for its stunning, glossy foliage and remarkable resilience. With its lush, green leaves and low-maintenance care requirements, the ZZ Plant is an ideal choice for both seasoned plant enthusiasts and beginners alike.
          </p>
          <div class="price">$45.00</div>
          <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart" data-id="6434927367f75fe1b60177cb">add to cart</a>
          </div>
        </div>

        <div class="preview" data-target="p-9">
          <i class="fas fa-times"></i>
          <img src="img/product9.jpg" alt="" />
          <h3>Cactus</h3>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
            <span>( 250 )</span>
          </div>
          <p>
            The Cactus, a symbol of resilience and adaptation, has long been a favorite choice for indoor gardeners. With their unique shapes, textures, and sizes, cacti bring a touch of the desert's beauty into your home while requiring minimal care. These striking plants are not only fascinating to look at but are also known for their ability to thrive in a variety of environments.
          </p>
          <div class="price">$30.00</div>
          <div class="buttons">
            <a href="#" class="buy">buy now</a>
            <a href="#" class="cart" data-id="643492bd67f75fe1b60177ce">add to cart</a>
          </div>
        </div>
      </div>

      <!-- Parallax Section -->
      <section class="banner">
        <h2 class="parallax">PARALLAX HERO</h2>
        <img src="" alt="" />
        <p class="parallax_description">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam
        </p>
      </section>
      <!-- More Info Section -->
      <footer>
        <h2 id="monthly-sub">Subscription</h2>
        <article class="footer_column">
          <h3>BETTER</h3>
          <img src="./img/better.jpg" alt="" width="400" height="400" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          </p>
        </article>
        <article class="footer_column">
          <h3>BEST</h3>
          <img src="" alt="" width="400" height="400" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          </p>
        </article>
      </footer>
      <!-- Footer Section -->
      <section class="footer_banner" id="contact">
        <h2 class="hidden">Footer Banner Section</h2>
        <p class="hero_header">FOR THE LATEST NEWS &amp; UPDATES</p>
        <div class="button">subscribe</div>
      </section>
      <!-- Copyrights Section -->
      <!-- <div class="copyright">©2023</div> -->
    </div>
    <!-- Main Container Ends -->
    <script src="/script.js"></script>
  </body>
</html>
